<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administració</title>
</head>
<body class="w3-red">

<header class="w3-container w3-red w3-center">
    <a href="/">
        <h1 class="w3-margin w3-jumbo">Hostal Roma</h1 >
    </a>
    <p class="w3-xlarge">Generador de menus</p>
</header>


<div class="buttonBody">
    <a href="/crearMenu"  class="button buttonRed">Crear Menú</a>
    <a href="/gestionarPlats" class="button buttonRed">Gestionar Plats</a>
    <a href="modParams.html" class="button buttonRed">Gestionar Vins</a>
    <a href="gestioVins.html" class="button buttonBlack">Configurar Menus</a>
</div>

</body>
<link rel="stylesheet" type="text/css" href="css/buttons.css" />
<link rel="stylesheet" type="text/css" href="css/webDesign.css" />
<link rel="stylesheet" type="text/css" href="css/buttons.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</html>