
.mainPageContent {
    margin-left: 16%;
    margin-right: 1%;
    margin-bottom: 5%;

}

.sidebar {
    margin-top: 0%;
    width: 15%;

}

.barBottom {
    position: fixed;
    bottom: 0;
    width: inherit;
}
.barMid {
    margin-top: 1px;
}

.mainBottom {
    position: fixed;
    bottom: 1%;
    right: 2%;
    width: inherit;
}

.barTop {
    position: fixed;
    width: inherit;
}
